.destination .hero-slider {
    background-image: url("https://cdn.goturkiye.com/goturkiye/bg-1.jpg");
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  .destination .hero-slider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      262deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: .5s;
  }
  .destination .slider-ready.hero-slider::before {
    border-radius: 0 !important;
  }
  .destination .slider-ready.hero-slider::after {
    border-radius: 0 !important;
  }
  .destination .hero-slider::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.25);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: .5s;
  }
  .destination .hero-slider.slider-ready {
    margin-left: 0 !important;
    border-radius: 0 !important;
  }
  .destination .hero-slider.slider-ready .caption-slider {
    opacity: 0;
    z-index: 0;
  }
  .destination .slider-ready .header-slider {
    opacity: 1;
    transform: translateX(0);
  }
  .destination .slider-ready .slider {
    left: 0;
  }
  .destination .slider-container .btn-slider {
    top: 0;
    width: 3.5rem;
    color: #fff;
    font-weight: 800;
    font-size: 1.8rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100%;
    z-index: 30;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .destination .slick-disabled {
    display: none !important;
  }
  