@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metropolis';
    src: url('../src//assets//Font/Metropolis-Regular.otf');
}
@font-face {
    font-family: 'MetropolisBold';
    src: url('../src//assets//Font/Metropolis-Bold.otf');
}

:root {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    overflow-x: hidden;

}